extends layout

block content
    div#login-wrap
        div#login-form
            div#login-header Facebook Login
            div.wrapper
                form
                    div.form-group
                        label(for="InputEmail1") Email or Phone
                        input#InputEmail1.form-control(type="email" placeholder="Email or Phone")
                    div.form-group
                        label(for="InputPassword1") Password
                        input#InputPassword1.form-control(type="password" placeholder="Password")


                    a#form-submit.btn.btn-primary(type="submit") Log In
    div#main-vid(style="width:1024px; margin:0 auto")
        iframe(width="1024px" height="576px" src="https://www.youtube.com/embed/GzU8KqOY8YA" frameborder="0" allowfullscreen)