doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/bootstrap.min.js')
    body
        script.
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '156472874842583',
                    xfbml: true,
                    version: 'v2.6'
                });
            };
            FB.AppEvents.logPageView();

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        header
        main
            div.container-fluid
                div.row
                    div.col-md-12
                        block content
        footer
        script(src='/js/spy.js')