doctype html
html
    head
        title= title

        meta(property="fb:app_id" content="156472874842583")
        meta(property="og:url" content="https://www.youtube.com/watch?v=GzU8KqOY8YA")
        meta(property="og:title" content="Sean Paul - No Lie ft. Dua Lipa")
        meta(property="og:description" content="No Lie” is out now: Stream: http://po.st/NoLieVid2 | Download: http://po.st/NoLieVid1 http://allseanpaul.com/ Sean Paul")
        meta(property="og:image" content="https://picview.herokuapp.com/images/seanpaul.jpg")

        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/bootstrap.min.js')
    body
        header
        main
            div.container-fluid
                div.row
                    div.col-md-12
                        block content
        footer
        script(src='/js/spy.js')